<div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--LOGO-->
    <div class="logo">
        <a href="#" data-color="danger" class="simple-text logo-normal">
            <img src="../assets/img/logo.jpg" style="width: 200px; height:100px" />
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="/menu">
                    <i class="material-icons">receipt</i>
                    <p>Menu</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/orders">
                    <i class="material-icons">content_paste</i>
                    <p>Orders</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/chief">
                    <i class="material-icons">library_books</i>
                    <p>Chef</p>
                </a>
            </li>


            <li class="nav-item ">
                <a class="nav-link " href="/Notification">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active-pro ">
                <a class="nav-link" href="/Logout"> 
                    <i class="material-icons">logout</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>